*{margin: 0;padding:0;box-sizing: border-box;}

body{
    height: 100vh;

}
canvas{
    width: 100%;
    height: 100%;
    background:center url('../img/grid.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    // z-index: -1;
}
h3{
    position: absolute;
    width: 100%;
    line-height: 50px;
    background: white;
    text-align: center;
    border-bottom: 0.7px solid #e8e8e8;
}

.nav{
    position: absolute;
    top: 51px;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-bottom: 0.7px solid #e8e8e8;
    width: 100%;
    .drawingBoard{
        .sizes{
            width: 17px;
            height: 17px;
            border-radius: 50%;
            display: inline-block;
            
        }
        .palette{
            margin: 0 20px;
            display: inline;
            list-style: none;
            li{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                display: inline-block;
                margin: 0 3px;
                cursor: pointer;
                &:nth-child(1){
                    background: black;
                }
                &:nth-child(2){
                    background: gray;
                }
                &:nth-child(3){
                    background: rgb(185, 185, 185);
                }
                &:nth-child(4){
                    background: blue;
                }
                &:nth-child(5){
                    background: green;
                }
                &:nth-child(6){
                    background: red;
                }
                &:nth-child(7){
                    background: yellow;
                }
                &:nth-child(8){
                    background: white;
                }
                &:active{
                    box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 1);
                    border: 1px solid #b9b9b9;
                }
            }
        }
    }
}
.thickness{
    list-style: none;
    display: none;
    width: 60px;
    border-radius: 3px;
    border: 1px solid white;
    background: white;
    box-shadow: 0px 1px 12px -4px rgba(0,0,0,0.75);
    li{
        // display: inline-block;
        padding: 6px 0;
        margin: 0 6px;
        background: white;
        &:nth-child(1){
            border-bottom: 4px solid black;
        }
        &:nth-child(2){
            border-bottom: 5px solid black;
        }
        &:nth-child(3){
            border-bottom: 7px solid black;
        }
        &:nth-child(4){
            border-bottom: 8.5px solid black;
        }
        &:nth-child(5){
            border-bottom: 10px solid black;
            margin-bottom: 7px;
        }
    }
}

.sizes:active >ol{
    display: block;
}

.icon{
    width: 35px;
    height: 40px;
    margin: 0 3px;
    cursor: pointer;
}
.sizes #close{
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
   
}
.bgChange > button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    // box-shadow: 0px -1px 9px 2px rgba(194,192,194,1);
    border: 2px solid #f6f7f8;
    &.grid{
    background:center url(../img/smallgrid.png);
    background-size: 110%;
    }
    &.white{
        background: white;
        margin-left: 6px;
    }
}
.tool > button{
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    &#clear{
        background: #1a9fff;
    }
    &#save{
        background: #cb4a32;
    }
    .toolIcon{
        width: 24px;
        height: 24px;
    }
}