* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
}

canvas {
  width: 100%;
  height: 100%;
  background: center url("../img/grid.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

h3 {
  position: absolute;
  width: 100%;
  line-height: 45px;
  background: white;
  text-align: center;
  border-bottom: 0.7px solid #e8e8e8;
}

.nav {
  position: absolute;
  top: 46px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.7px solid #e8e8e8;
  width: 100%;
}

.nav .bgChange {
  margin: 5px;
}

.nav .tool {
  margin: 5px;
}

.nav .drawingBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .drawingBoard .sizes {
  margin: auto;
}

.nav .drawingBoard .palette {
  margin: auto 5px;
  display: inline;
  list-style: none;
}

.nav .drawingBoard .palette li {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  display: inline-block;
  margin: 0 3px;
  cursor: pointer;
}

.nav .drawingBoard .palette li:nth-child(1) {
  background: black;
}

.nav .drawingBoard .palette li:nth-child(2) {
  background: gray;
}

.nav .drawingBoard .palette li:nth-child(3) {
  background: #b9b9b9;
}

.nav .drawingBoard .palette li:nth-child(4) {
  background: blue;
}

.nav .drawingBoard .palette li:nth-child(5) {
  background: green;
}

.nav .drawingBoard .palette li:nth-child(6) {
  background: red;
}

.nav .drawingBoard .palette li:nth-child(7) {
  background: yellow;
}

.nav .drawingBoard .palette li:nth-child(8) {
  background: white;
}

.nav .drawingBoard .palette li:active {
  -webkit-box-shadow: 0px 1px 12px -3px black;
          box-shadow: 0px 1px 12px -3px black;
  border: 1px solid #b9b9b9;
}

@media (min-width: 450px) {
  .thickness {
    display: none;
    position: absolute;
  }
  .thickness li {
    padding: 6px 0;
    margin: 0 6px;
    background: white;
    cursor: pointer;
  }
  .thickness li:nth-child(1) {
    border-bottom: 4px solid black;
  }
  .thickness li:nth-child(2) {
    border-bottom: 7px solid black;
  }
  .thickness li:nth-child(3) {
    border-bottom: 10px solid black;
    margin-bottom: 7px;
  }
}

.thickness {
  list-style: none;
  width: 60px;
  border-radius: 3px;
  border: 1px solid white;
  background: white;
  -webkit-box-shadow: 0px 1px 12px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 1px 12px -4px rgba(0, 0, 0, 0.75);
}

.thickness li {
  padding: 6px 0;
  margin: 0 6px;
  background: white;
  cursor: pointer;
}

.thickness li:nth-child(1) {
  border-bottom: 4px solid black;
}

.thickness li:nth-child(2) {
  border-bottom: 7px solid black;
}

.thickness li:nth-child(3) {
  border-bottom: 10px solid black;
  margin-bottom: 7px;
}

.sizes.active > ol {
  display: block;
}

.icon {
  width: 28px;
  height: 28px;
  margin: auto 5px;
  cursor: pointer;
}

.icon.active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.bgChange > button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #f6f7f8;
}

.bgChange > button.grid {
  background: center url(../img/smallgrid.png);
  background-size: 110%;
}

.bgChange > button.white {
  background: white;
}

.tool > button {
  padding: 4px 25px;
  border: none;
  border-radius: 5px;
}

.tool > button#clear {
  background: #1a9fff;
}

.tool > button#clear:active {
  background: #1583d1;
}

.tool > button.save {
  background: #cb4a32;
}

.tool > button.save:active {
  background: #9b3726;
}

.tool > button .toolIcon {
  width: 24px;
  height: 24px;
}

@media (max-width: 449px) {
  h3 {
    width: 17%;
    font-size: 12px;
    line-height: 30px;
    height: 5vh;
    border-right: 0.7px solid #e8e8e8;
  }
  .nav {
    top: 5vh;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-right: 0.7px solid #e8e8e8;
    width: 17%;
    height: 95vh;
  }
  .nav .bgChange {
    text-align: center;
  }
  .nav .tool {
    text-align: center;
  }
  .nav .drawingBoard {
    display: inline-block;
    text-align: center;
  }
  .nav .drawingBoard .palette {
    margin: 0;
  }
  .nav .drawingBoard .palette li {
    width: 30px;
    height: 30px;
  }
  .sizes {
    position: relative;
  }
  .sizes.sizes > ol {
    display: block;
    position: absolute;
    top: 0;
    left: 50px;
  }
  .bgChange > button {
    width: 30px;
    height: 30px;
  }
  .bgChange > button.white {
    background: white;
    margin: 6px 0;
    margin-left: 0;
  }
  .icon {
    margin: 6px auto;
    width: 25px;
    height: 25px;
    display: block;
  }
  .tool > button {
    padding: 5px 8px;
    margin-top: 10px;
  }
  .tool > button .toolIcon {
    width: 24px;
    height: 24px;
  }
}
/*# sourceMappingURL=style.css.map */